@page "/"
@using portfolioVision.composants.navbar
@using portfolioVision.composants.hautPage
@using portfolioVision.composants.paragrapheSimple

<PageTitle>Agence-Vision</PageTitle>

@* <h1>Adiu a totes ! </h1> *@

<Navbar/>

<HautPage/>

<ParagrapheSimple Texte="

Vous êtes à la recherche d'un monteur vidéo pour vos projets sur les réseaux sociaux tels que Youtube, Shorts, TikTok, 
ou Instagram, vous êtes au bon endroit ! Vision est une petit entreprise créée par 2 monteur vidéos indépendants voulant
 mettre en avant des montages modernes et tendances."/>

