<div class="navbar">

    <div class="nav-left">

        <button class="nav-button">Services</button>
        <button class="nav-button">Logiciels</button>
    </div>

    <div class="nav-center">

        <img src="/images/logoVisionTextuel.png" alt="Vision Logo Textuel">
    </div>

    <div class="nav-right">

        <button class="nav-button">Portfolio</button>
        <button class="nav-button-bleu">Contact</button>
    </div>
</div>
