.navbar {
    background-color: black;

    border-radius: 30px;
    width: 93%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left : 3%;
    padding-right : 3%;
}

.nav-left,
.nav-right {
    display: flex;
}

.nav-center {
    text-align: center;
    width : 22%;
}

.nav-center img {
    max-width: 100%;
    height: auto;
}

.nav-button, .nav-button-bleu {
    background-color: black;
    border: none;
    border-radius: 0;
    padding: 8px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.8vw;

    
}

.nav-button {
    color: white;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

.nav-button-bleu {
    color: #0BDCF3;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}


