<div class="carte">

    <h2>Titre de la carte</h2>

    <p class="prix">19.99 €</p>

    <ul class="caracteristiques">

        <li>Caractéristique 1</li>
        <li>Caractéristique 2</li>
        <li>Caractéristique 3</li>
    </ul>
    <button class="bouton">Commencer</button>
</div>