body {
    
}

.carte {
    background-color: black;
    border: 2px solid #0BDCF3;
    border-radius: 30px;

    /*padding: 37px;*/

    color : white;

    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    

    width : 100%;
    height : 100%;

    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

li {
    margin-bottom : 6px;
}

h2 {
    font-size: 2.4vw;

    font-weight: bold;

    border : 3px solid green;
}

.prix {
    font-size: 3.5vw;
    color: #0BDCF3;
    font-weight: bold;

    border : 3px solid pink;
}

.caracteristiques {
   
    text-align : left;

    height : 65%;
    width : 90%;

    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: start;

    border : 3px orange solid;
}

.caracteristiques li {
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.separation {
    width: 62%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px red solid;
}

.rectangle {
    width: 100%;
    height: 17%; 
    background-color: white;
    border: 1px solid black; /* Optionnel : bordure d'1 pixel en noir */
    
    margin-left : 1%;
    margin-right : 1%;

    border-radius : 10px;
}



.bouton {
    background-color: #0BDCF3;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color : black;


    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.bouton:hover {
    background-color: #005b99;
}
