<div class="carte">

    <h2>@Titre</h2>

    <p class="prix">@Prix</p>

    <ul class="caracteristiques">

        @foreach (var Caracteristique in Caracteristiques)
        {
            <li>@Caracteristique</li>
        }

    </ul>
    <button class="bouton">Commencer</button>
</div>