<div class="carte">

    <h2>@Titre</h2>

    <p class="prix">@Prix</p>

    <div class="descriptionEtSeparation">
        
        <div class="description">

            @if (Description != null)
            {
                <p>
                    @Description
                </p>
            }

        </div>

        <div class="separation">
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>

        </div>
    </div>    

    

    <div class="caracteristiques">
        <div class="espacementDroit">
        </div>
        <ul>

            @foreach (var Caracteristique in Caracteristiques)
            {
                <li>@Caracteristique</li>
            }

        </ul>

        <div class="espacementGauche">
        </div>
    </div>

    @* <button class="bouton">Commencer</button> *@
</div>