<div class="carte">

    <h2>Titre de la carte</h2>

    <p class="prix">Prix : 19.99 €</p>

    <ul class="caracteristiques">

        <li><img src="/images/puceCarte.png" alt="Puce"> Caractéristique 1</li>
        <li><img src="/images/puceCarte.png" alt="Puce"> Caractéristique 2</li>
        <li><img src="/images/puceCarte.png" alt="Puce"> Caractéristique 3</li>
    </ul>
    <button class="bouton">Commencer</button>
</div>