@using portfolioVision.modele.reseau

@* <ul class="info-list">
    
    @foreach (Reseau reseau in ListeReseaux)
    {
        <li class="info-item">
            <img src="@reseau.EmplacementImage">
            <p>@reseau.Contenu</p>
        </li>
    }

    <li class="info-item">
        <img src="/images/Fichier4.png">
        <p>azogs_</p>
    </li>

</ul> *@


<ul class="info-list">
    <li class="info-item">
        <img src="/images/Fichier2.png" alt="Logo 1">
        <p>azogs.vision@gmail.com</p>
    </li>
    <li class="info-item">
        <img src="/images/Fichier3.png" alt="Logo 2">
        <p>06.45.82.11.37</p>
    </li>
    <li class="info-item">
        <img src="/images/Fichier4.png" alt="Logo 3">
        <p>azogs_</p>
    </li>
</ul>