body {


    
}

.texte {
    /*border: 3px solid orange;*/

    color: white;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
        
    font-size: 20px;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
